[user]
	name = Josh Kelley
	email = joshkel@gmail.com
[core]
	safecrlf = true
	excludesfile = ~/.gitignore_global
	whitespace = cr-at-eol
[push]
	default = simple
[alias]
	ci = commit
	st = status
	unstage = reset HEAD
	showtool = "!f() { git difftool $1^ $1; }; f"
	added = difftool --cached
	lol = log --oneline --graph --decorate --all
	lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
# Further ideas: http://gggritso.com/human-git-aliases,
# https://gist.github.com/tdd/470582
[diff]
	algorithm = patience
	tool = icdiff
[difftool]
	prompt = false
[difftool "icdiff"]
	cmd = ~/bin/icdiff --line-numbers $LOCAL $REMOTE
[pager]
	difftool = true
# difftool+icdiff configuration from http://owen.cymru/github-style-diff-in-terminal-with-icdiff/
[submodule]
	fetchJobs = 4
[pull]
	rebase = preserve
# vim: noet
