[user]
	name = Josh Kelley
	email = joshkel@gmail.com
	signingKey = ""
[core]
	safecrlf = true
	excludesfile = ~/.gitignore_global
	pager = delta
# This makes it a lot less painful to mix Cygwin git and Git for Windows on
# Windows repositories.
	whitespace = cr-at-eol
# https://github.blog/2022-06-27-highlights-from-git-2-37/.  In practice, this
# seems to be slightly slower.
#	fsmonitor = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[grep]
	patternType = perl
[push]
	default = simple
# https://stackoverflow.com/a/65839129/25507
	useForceIfIncludes = true
# https://stackoverflow.com/a/53322776/25507, https://jvns.ca/blog/2024/02/16/popular-git-config-options/
	autoSetupRemote = true
[pull]
	rebase = merges
[fetch]
	prune = true
	pruneTags = true
	all = true
[merge]
	conflictstyle = zdiff3
[rebase]
	autosquash = true
	autostash = true
	updateRefs = true
[init]
	defaultBranch = main
# gpg, commit, and tag settings are from GitKraken
[gpg]
	program = gpg
[commit]
	gpgSign = false
# https://jvns.ca/blog/2024/02/16/popular-git-config-options/
	verbose = true
[tag]
	forceSignAnnotated = false
	sort = version:refname
[help]
	autocorrect = prompt
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	pfwl = push --force-with-lease
	unstage = reset HEAD
	showtool = "!f() { git difftool $1^ $1; }; f"
	added = difftool --cached
	lol = log --oneline --graph --decorate --abbrev-commit
	lols = log --oneline --graph --decorate --all --abbrev-commit
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep \"^S\"
	update-remote-branches = remote update origin --prune
	showtrackedignored = ls-files -i --exclude-standard
# List local branches, including those that need to be pushed or pulled.
# https://stackoverflow.com/q/39220870/25507
    unpushed1 = for-each-ref --format="%(refname:short) %(push:track)" refs/heads
	unpushed2 = git log --branches --not --remotes --no-walk --decorate --oneline
# https://stackoverflow.com/a/44562371/25507
	tag-dates = tag --format='%(creatordate:short)%09%(refname:strip=2)' --sort=-creatordate
# Log human activity (no bots)
	lh = log --perl-regexp --author='^((?!Renovate).*)$' --invert-grep --grep='Merge branch .renovate'
# Further ideas: http://gggritso.com/human-git-aliases,
# https://gist.github.com/tdd/470582
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	tool = icdiff
	wsErrorHighlight = all
	renames = true
[difftool]
	prompt = false
[difftool "icdiff"]
	cmd = ~/bin/icdiff --line-numbers $LOCAL $REMOTE
[difftool "bc"]
	path = bcomp
[pager]
	difftool = true
# difftool+icdiff configuration from http://owen.cymru/github-style-diff-in-terminal-with-icdiff/
[submodule]
	fetchJobs = 4
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
# vim: noet
