[user]
	name = Josh Kelley
	email = joshkel@gmail.com
[core]
	autocrlf = input
	safecrlf = true
    excludesfile = ~/.gitignore_global
[push]
	default = simple
[alias]
	ci = commit
	st = status
    unstage = reset HEAD
[submodule]
	fetchJobs = 4
# Further ideas: http://gggritso.com/human-git-aliases
# vim: set noet
